{% extends "layout.html" %}
{% block title %} signup page {% endblock %}
{% block body %}
{% if session['logged_in'] %}
  <h4>You're logged in already!</h4>
{% else %}
  <div class="login-box">
    <img class="avatar" src="/static/images/avatar.png">
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="Enter username">
      <input type="password" name="password" placeholder="Enter Password">
      <input type="email" name="email" placeholder="Enter email">
      <button type="submit">Sign in </button>
      <h5>already have an account</h5>
      <button type="button" name="Login"><a href="url_for('for_login')">Login</a></button>
    </form>
  </div>
  {% endif %}
{% endblock %}
