{% extends "layout.html" %}
{% block title %} search {% endblock %}
{% block body %}
{% if session['logged_in'] %}
  <h1>BOOKS</h1>

    <table>
      <tr>
        <th>isbn</th>
        <th>author</th>
        <th>title</th>
        <th>year</th>
      </tr>

    {% for book in books %}
      <tr>
        <td>{{ book['isbn'] }}</td>
        <td>{{ book['author'] }}</td>
        <td>{{  book['title'] }}</td>
        <td>{{ book['year'] }}</td>
      </tr>

    {% endfor %}
    </table>
  <!-- TODO:  -->
{% else %}
  <h4>You're not logged in already!</h4>
{% endif %}

{% endblock %}
